/*-------------- SIGN IN PAGE / INDEX PAGE---------------*/

.signin-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2% 0;
}

.index-logo {
  max-width: 20rem;
}

.signin-container {
  border-radius: 10px;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  width: 60%;
  display: flex;
  text-align: center;
  overflow: hidden;
  flex: 1;
}

.signin-container h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--primary-color-1);
}

.signin-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  margin: auto;
  padding: 10% 5%;
}

.signin-form h1 {
  color: var(--primary-color-2);
}

.signin-form input,
.register-form input {
  width: 100%;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 5px;
  padding: 1rem;
  color: var(--primary-color-2);
}

input:focus,
select:focus {
  outline: none;
}

input::placeholder {
  color: rgb(201, 201, 201);
}

.forgot-pwd {
  color: var(--primary-color-2);
}

.signin-btn,
.login-register-section a {
  width: 60%;
  margin: 0 auto;
  padding: 0.8rem 1rem;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.signin-btn {
  background-color: var(--primary-color-2);
  color: var(--primary-color-1);
  cursor: pointer;
  font-size: 1rem;
}

.signin-btn:hover {
  background-color: rgb(73, 73, 73);
}

.login-register-section {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 2rem;
  padding: 10% 5%;
  background-color: var(--primary-color-2);
}

.login-register-section a {
  color: var(--primary-color-1);
  border: 1px solid var(--primary-color-1);
}


/*----------------- REGISTER PAGE -------------*/

.register-container {
  border-radius: 10px;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  max-width: 60%;
  margin: 0 auto;
  margin-top: 5%;
  display: flex;
  text-align: center;
}

.register-img {
  position: relative;
  width: 50%;
}

.register-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.register-img a {
  position: absolute;
  left: 0;
  font-weight: bold;
  color: var(--primary-color-1);
  margin: 1rem;
  padding: 0.3rem 1rem;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgb(0 0 0 / 15%), 0 5px 5px rgb(0 0 0 / 22%);
}

.register-img a:hover {
  background-color: rgb(73, 73, 73);
}

.register-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: calc(8px + 1.5625vw);
}

.register-form h1 {
  color: var(--primary-color-2);
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.register-form button {
  margin-top: 3rem;
}

/*----------------- DASHBOARD PAGE -------------*/

.main-dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 2rem;
  justify-items: center;
  align-items: center;
}

.analytics {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 17rem;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.analytics-inv,
.analytics-pay,
.analytics-due {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  align-items: center;
}

.analytics-inv {
  color: rgb(34, 92, 218);
  background-color: rgba(57, 188, 228, 0.4);
  /* color: var(--primary-color-1);
  background-color: var(--primary-color-2); */
}
.analytics-pay {
  color: rgb(38, 190, 8);
  background-color: rgba(51, 161, 51, 0.4);
}

.analytics-due {
  color: rgb(190, 19, 19);
  background-color: rgba(202, 21, 21, 0.4);
}

.analytics span {
  font-size: 0.9rem;
  color: rgb(126, 126, 126);
}

.analytics p {
  color: var(--primary-color-2);
  font-weight: bold;
}

.invoice-dashboard,
.customer-dashboard {
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.invoice-dashboard {
  grid-column: 1 / 3;
}

.dash-common-header {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.dash-common-header span {
  font-size: 1.3rem;
  color: var(--primary-color-1);
}

.dash-common-header i {
  font-size: 1.5rem;
}

.invoicelist-row {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.invoicelist-items-head,
.invoicelist-items {
  display: flex;
  width: 90%;
  align-items: center;
}

.invoicelist-items-head li,
.invoicelist-items li {
  width: 100%;
  padding: 0.5rem 0.2rem;
  word-wrap: break-word;
  font-size: 0.9rem;
}

.invoicelist-row span {
  width: 10%;
  padding: 0.1rem 0.5rem;
  text-align: center;
  border-radius: 10px;
}

.invoice-list-due,
.invoice-list-pd {
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.invoice-list-pd {
  color: var(--success-color);
}

.invoice-list-due {
  color: var(--danger-color);
}

.invoice-list-view {
  margin-top: 1rem;
  text-align: center;
  width: 7rem;
  padding: 0.2rem 1rem;
  border-radius: 5px;
  color: var(--primary-color-1);
  border: 1px solid var(--primary-color-1);
  transition: all 0.3s ease-in-out;
}

.invoice-list-view:hover {
  background-color: var(--primary-color-1);
  color: white;
  cursor: pointer;
}

.customer-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.customer-dashboard img {
  width: 8rem;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--primary-color-1);
}

.customer-dashboard p {
  color: var(--primary-color-2);
}

.dash-customer-info {
  color: var(--primary-color-2);
  text-align: center;
  border: 1px solid var(--primary-color-1);
  width: 80%;
  padding: 1rem;
  border-radius: 5px;
  background-color: rgba(173, 207, 0, 0.11);
}

.customer-dashboard div p {
  color: var(--primary-color-1);
  font-weight: bold;
}

/*----------------- INVOICE LIST PAGE -------------*/

.invoice-list-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2rem;
  padding-right: 3rem;
  margin-top: 1rem;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 15rem;
  border: 1px solid var(--backgrund-color);
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: white;
}

.search-bar span {
  font-size: 1.3rem;
  color: var(--primary-color-1);
}

.search-bar input {
  border: none;
  width: 100%;
}

.invoice-filter {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 7rem;
}

.invoice-filter span {
  color: var(--primary-color-1);
  width: 15%;
  font-size: 1.3rem;
}

.invoice-filter select {
  border: 1px solid var(--backgrund-color);
  padding: 0.2rem 0.5rem;
  width: 80%;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.main-invoice-list {
  width: 100%;
  border-radius: 10px;
  padding: 2rem;
  margin-top: 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: white;
}

.main-invoice-list table {
  width: 100%;
  color: var(--primary-color-2);
  font-size: 0.9rem;
}

.main-invoice-list table th:nth-child(7),
.main-invoice-list table td:nth-child(7) {
  text-align: center;
}

.main-invoice-list table th:nth-child(3),
.main-invoice-list table th:nth-child(2) {
  width: 20%;
}
.main-invoice-list table th:nth-child(7) {
  width: 10%;
}

.main-invoice-list table thead th {
  font-weight: bold;
  padding: 0 0.2rem 1.5rem 0.2rem;
  color: var(--primary-color-1);
}

.main-invoice-list table tbody td {
  padding: 0.5rem 0.3rem;
  text-align: center;
}

.main-invoice-list table tbody td a {
  color: var(--primary-color-1);
  padding: 0.3rem 0.5rem;
  width: 100%;
  background-color: var(--primary-color-2);
  border-radius: 10px;
}

/*----------------- Media Queries-------------*/

.login-register-section a:hover {
  overflow: hidden;
  background-color: var(--primary-color-1);
  color: var(--primary-color-2);
}




@media (max-width: 768px) {
  .signin-main-container{
    min-height: 100vh;
  }

  a:hover , button:hover {
    display: none;
  }
  a:active ,button:active {
    background-color: red;
  }


  .signin-container {
    flex-direction: column;
    width: 100%;
    border-radius: 0;
  }
  .signin-form,.login-register-section{
    padding: 10%;
  }
}

/* @media (max-width: 480px) {
  .signin-container {
    flex-direction: column;
    width: 100%;
    border-radius: 0;

  }
} */
